@charset "utf-8";
/* CSS Document */
#product-container {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 1500px;
}

#product-wrapper {
	text-align: center;
	position: relative;
	width:1000px;
	height:600px;
	padding: 0px 40px 20px 40px;
	margin-top: 0px;
	margin-bottom: 100px;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.description {
	top: 200px;
	width: 900px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.description h1 {
	text-align: center;
	font-size: 36px;
}

.description p {
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #5C5C5C;
}

.producthead {
	position: relative;
	top: 250px;
	width: 500px;
	height: 500px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-image:url(../Images/LogoFooter.png);
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 100px;
}

.go-back {
	top: 300px;
	position: absolute;
	float: left;
	margin-left: 20px;
}

.go-back a:hover{
	color:#EB8A8C;
	-webkit-transition: color 0.1s;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: initial;
	-webkit-transition-delay: initial;
	-moz-transition: color 0.1s;
	-moz-transition-property: color;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: initial;
	-moz-transition-delay: initial;
	transition: color 0.1s;
	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: initial;
	transition-delay: initial;
}

#purchase {
	font-family: 'Montserrat', sans-serif;
}

.button-product {
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	display: inline-block;
	padding: 0px 10px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.4;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
	border-top: thin solid;
	border-right: thin solid;
	border-bottom: thin solid;
	border-left: thin solid;
}
	
