@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: Cheri;
    src: url(../cheri/CHERL___.TTF);
}

body {
	font-family: 'Cheri', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 20px;
	overflow-x: hidden;
}

/*-----HEADER-----*/

#header {
	width: 100%;
	margin: 0;
	height: 20%;
	position: absolute;
	background-repeat: no-repeat;
	background-size:cover;
	background-image: url(../Images/arrows21.png);
	border: 1px solid #b7b7b7;
	padding-bottom: 35px;
}

#logo {
	height: 100px;
  	float: left;
  	width: 200px;
  	margin-top: 20px;
	margin-left: 40px;
}

#logoimg {
	height: 100px;
	width: 350px;
	float: none;
	margin: 0;
	padding:0;
}

#search {
	float: right;
	width: 310px;
	margin-right: 40px;
	padding: 33px 0 0;
	right: 100px;
	position: absolute;
}

#formsearch {
	display: inline;
	margin: 0;
}

legend {
	display: none;
}

fieldset {
	float: right;
	margin: 0;
	padding: 0;
	border-style: none;
	clear: both;
}

#notlabel {
	display: none;
}

#termtextkeywordsearch {
  float: right;
  color: #909090;
  height: 16px;
  font-size: 16px;
  width: 278px;
  padding: 10px 0 10px 7px;
  font-family: 'Cheri', sans-serif;
}

#searchsubmit {
	float: right;
	outline: none;
	left: 278px;
	position: relative;
	top: 11px;
}

#nav-wrapper {
	width: 100%;;
	float: left;
	padding-bottom: 10px;
	margin: 0;
}

#nav-wrapper .nav-bar {
	clear: both;
	position: relative;
	width: 100%;
	vertical-align: baseline;
	outline: medium none;
	z-index: 997!important;
	height: auto;
	margin: 0px;
	padding: 0;
}

.nav-bar ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
}

.nav-bar li {
	list-style: none;
	display: inline-block;
	float: none;
	border-bottom: 10px solid transparent;
	position: none;
	margin: 0 0 0 40px;
	padding: 0 8px 3px;
}

.nav-bar ul li a:hover, .nav-bar ul li a.selected {
	color: #B81215;
	-webkit-transition: color 0.1s;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: initial;
	-webkit-transition-delay: initial;
	-moz-transition: color 0.1s;
	-moz-transition-property: color;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: initial;
	-moz-transition-delay: initial;
	transition: color 0.1s;
	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: initial;
	transition-delay: initial;	
}

a, a:link, a:visited {
    color: black;
    font-weight: normal;
    text-decoration: none;
}

span {
	font-weight: 700;
}

/*----- Top Level -----*/
.nav-bar > ul > li {
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.nav-bar > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
/*----- Bottom Level -----*/
.nav-bar li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
	position: absolute;
  	background: #fff;
  	top: 45px!important;
	margin-left: 0;
    width:100%;
    padding:0px;
    left:0px;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
}
 
.sub-menu li {
	text-align: left;
    display:block;
	margin-left: 20px;
	padding: 5px;
}
 
.sub-menu li a {
    padding:10px 0px 0px 0px;
    display: inline-block;
}

/*-----FOOTER-----*/

#footer {
	height: 40%;
	width: 100%;
	padding: 0;
	margin: 0px;
	position: absolute;
}

#new_footer {
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../Images/frias-footer.jpg);
  border-top: 1px solid #aaa;
  width: 100%;
  color: #000;
  text-align: center;
  padding: 18px 25px 13px;
}

#new_footer .title {
  float: left;
  line-height: 42px;
  margin-right: 40px;
  font-size: 20px;
  letter-spacing: 1px;
  font-variant: small-caps;
}

.form-group {
	float: left;
	line-height: 42px;
	margin: 0;
}

#emailsignup {
	font-family: 'Cheri', sans-serif;
	float: left;
	width: 220px;
    height: 30px;
    padding: 6px 12px;
    font-size: 15px;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #AAA inset;
}

#sub-button {
	border-radius: 10px;
	font-family: 'Cheri', sans-serif;
	float: right;
	background: #6B9BD4;
	color: #fff;
	font-size: 16px;
	line-height: 42px;
	text-transform: uppercase;
	font-weight: 700;
	border: 0;
	letter-spacing: 1px;
	-webkit-appearance: none;
	margin: 0 10px;
	padding: 0 22px;
	cursor: pointer;
	box-shadow:2px 2px 10px 2px rgba(1,1,1,0.3);
}

#sub-button:hover {
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	transition: 0.7s;
	background: #3A77C0;
}

#newfooter form {
	float: left;
	display: inline;
}

#new_footer .footerlinks {
  width: 100%;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  display: inline-block;
  margin: 15px 40px;
  padding: 25px 0 20px;
  font-variant: small-caps;
  font-size: 18px
}

#new_footer .footerlinks ul {
  float: left;
  text-align: left;
  padding: 0px 150px 40px 0;
  list-style-type: none;
  margin-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
}

#new_footer .footerlinks ul li {
	margin-top: 0px;
	margin-bottom: 20px;
}

#footerimg {
	margin-top: 0px;
	display: inline-block;
	width: 400px;
	height: 250px;
	right: 150px;
	position: absolute;
}

.social-logo {
	width: 36px;
	height: 36px;
}

#socialwrapper {
	margin-bottom: 65px;
}

/*---INDEX---*/

#index-container {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	padding: 0;
	background-image: url(../Images/felt-blue001.jpg);
	height: 2500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

#banner {
	text-align: center;
	position: relative;
	width:1000px;
	height:600px;
	padding: 0px 40px 20px 40px;
	margin-top: 0px;
	margin-bottom: 100px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	top: 280px;
}

#banner .image-slider-wrapper{
	overflow: hidden;
}
#image_slider {
	position: relative;
	overflow: hidden;
	height: 600px;
	width: 1000px;
	padding:0;
	top: 0px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
	border-radius: 25px;
}
#image_slider li{
	position:relative;
	max-width: 100%;
	float: left;
	list-style: none;
	opacity: 1;
}

#banner .image-slider-wrapper:hover {
    position: relative;
    opacity: 0.75;
}

#image_slider img {
	width: 1000px;
	height: 600px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 1;
}

#cafe-banner {
	width: 100% !important;
	display: inline-block;
  	position: relative;
  	margin: 0 auto;
	top: 200px;
	text-align: center;
}

#cafe-banner .cafe-banner-bg {
	margin-top: 60px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../Images/tablecup.jpg) no-repeat center center;
	background-size: cover;
	height: 660px;
}

#cafe-banner .cafe-banner-container {
	top: 20%;
	display: inline-block;
	position: relative;
	outline: transparent;
	margin: 0 auto;
	height: 660px !important;
}

#cafe-banner .cafe-banner-container a {
	height: 100%;
	display: inline-block;
	text-decoration: none;
}

#cafe-desc {
	left: 0px;
	top: 250px;
	position: absolute;
	font-size: 18px;
	color: black;
	width: 250px;
}

#cafe-banner .cafe-banner-container a:hover {
	color: #471E1E;
	-webkit-transition: color 0.2s;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.6s;
	-webkit-transition-timing-function: initial;
	-webkit-transition-delay: initial;
	-moz-transition: color 0.2s;
	-moz-transition-property: color;
	-moz-transition-duration: 0.6s;
	-moz-transition-timing-function: initial;
	-moz-transition-delay: initial;
	transition: color 0.2s;
	transition-property: color;
	transition-duration: 0.6s;
	transition-timing-function: initial;
	transition-delay: initial;	
}

#divider {
  display: block;
  width: 1000px;
  text-align: center;
  margin: 9px auto 22px;
  text-align: center;
  position: relative;
  clear: both;
  top: 50px;
}

.divider-border {
  background: #ccc;
  height: 1px;
  margin: 9px 0 0 0;
  width: 100%;
  position: absolute;
  top: 4px;
  z-index: 1;
}

#divider-span {
  color: #000;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 18px;
  padding: 5px 15px;
  z-index: 10;
  background-color: #FFFFFF;
  position: relative;
  text-transform: uppercase;
}

#divider-top {
  display: block;
  width: 1000px;
  text-align: center;
  margin: 9px auto 22px;
  text-align: center;
  position: relative;
  clear: both;
  top: 8px;
}

#divider-bottom {
  display: block;
  width: 1000px;
  text-align: center;
  margin: 9px auto 22px;
  text-align: center;
  position: relative;
  clear: both;
  top: 240px;
}

#events-banner {
	width: 100% !important;
	display: inline-block;
  	position: relative;
  	margin: 0;
	bottom: 0;
	top: 220px;
	text-align: center;
}

#events-banner .events-banner-bg {
	margin-top: 60px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../Images/events.jpg) no-repeat center center;
	background-size: cover;
	height: 660px;
}


