@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: Cheri;
    src: url(../cheri/CHERL___.TTF);
}

body {
	font-family: 'Cheri', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 20px;
	overflow-x: hidden;
}

/*-----HEADER-----*/

#header {
	width: 100%;
	margin: 0;
	top: 0px;
	height: 20%;
	position: absolute;
	background-repeat: no-repeat;
	background-size:cover;
	background-image: url(../Images/arrows21.png);
	border: 1px solid #b7b7b7;
	padding-bottom: 15px;
	box-shadow: 5px 5px 18px #666;
}

#logo {
	height: 100px;
  	float: left;
  	width: 200px;
  	margin-top: 20px;
	margin-left: 40px;
}

#logoimg {
	height: 100px;
	width: 350px;
	float: none;
	margin: 0;
	padding:0;
}

#cart {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	display: block;
	right: 500px;
	top: 15px;
}

#cartimg {
	margin: 0;
	padding: 0;
	width: 80px;
	height: 80px;
}

#cartimg:hover {
	opacity: 0.5;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}

#search {
	float: right;
	width: 310px;
	margin-right: 40px;
	padding: 33px 0 0;
	right: 100px;
	position: absolute;
}

#formsearch {
	display: inline;
	margin: 0;
}

legend {
	display: none;
}

fieldset {
	float: right;
	margin: 0;
	padding: 0;
	border-style: none;
	clear: both;
}

#notlabel {
	display: none;
}

#termtextkeywordsearch {
  float: right;
  color: #909090;
  height: 16px;
  font-size: 16px;
  width: 278px;
  padding: 10px 0 10px 7px;
  font-family: 'Cheri', sans-serif;
}

#searchsubmit {
	float: right;
	outline: none;
	left: 278px;
	position: relative;
	top: 11px;
}

#nav-wrapper {
	width: 100%;;
	float: left;
	padding-bottom: 10px;
	margin: 0;
}

#nav-wrapper .nav-bar {
	clear: both;
	position: relative;
	width: 100%;
	vertical-align: baseline;
	outline: medium none;
	z-index: 997!important;
	height: auto;
	margin: 0px;
	padding: 0;
}

.nav-bar ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
}

.nav-bar li {
	list-style: none;
	display: inline-block;
	float: none;
	border-bottom: 10px solid transparent;
	position: none;
	margin: 0 0 0 40px;
	padding: 0 8px 3px;
}

.nav-bar ul li a:hover, .nav-bar ul li a.selected {
	color: #B81215;
	-webkit-transition: color 0.1s;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: initial;
	-webkit-transition-delay: initial;
	-moz-transition: color 0.1s;
	-moz-transition-property: color;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: initial;
	-moz-transition-delay: initial;
	transition: color 0.1s;
	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: initial;
	transition-delay: initial;	
}

a, a:link, a:visited {
    color: black;
    font-weight: normal;
    text-decoration: none;
}

span {
	font-weight: 700;
}

/*----- Top Level -----*/
.nav-bar > ul > li {
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.nav-bar > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
/*----- Bottom Level -----*/
.nav-bar li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
	position: absolute;
  	background: #fff;
  	top: 45px!important;
	margin-left: 0;
    width:100%;
    padding:0px;
    left:0px;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
}
 
.sub-menu li {
	text-align: left;
    display:block;
	margin-left: 20px;
	padding: 5px;
}
 
.sub-menu li a {
    padding:10px 0px 0px 0px;
    display: inline-block;
}

/*-----FOOTER-----*/

#footer {
	box-shadow: 5px -10px 30px #666;
	height: 40%;
	width: 100%;
	padding: 0;
	margin: 0px;
	position: absolute;
}

#new_footer {
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../Images/frias-footer.jpg);
  border-top: 1px solid #aaa;
  width: 100%;
  color: #000;
  text-align: center;
  padding: 18px 25px 13px;
}

#new_footer .title {
  float: left;
  line-height: 42px;
  margin-right: 40px;
  font-size: 20px;
  letter-spacing: 1px;
  font-variant: small-caps;
}

.form-group {
	float: left;
	line-height: 42px;
	margin: 0;
}

#emailsignup {
	font-family: 'Cheri', sans-serif;
	float: left;
	width: 220px;
    height: 30px;
    padding: 6px 12px;
    font-size: 15px;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #AAA inset;
}

#sub-button {
	border-radius: 10px;
	font-family: 'Cheri', sans-serif;
	float: right;
	background: #6B9BD4;
	color: #fff;
	font-size: 16px;
	line-height: 42px;
	text-transform: uppercase;
	font-weight: 700;
	border: 0;
	letter-spacing: 1px;
	-webkit-appearance: none;
	margin: 0 10px;
	padding: 0 22px;
	cursor: pointer;
	box-shadow:2px 2px 10px 2px rgba(1,1,1,0.3);
}

#sub-button:hover {
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	transition: 0.7s;
	background: #3A77C0;
}

#newfooter form {
	float: left;
	display: inline;
}

#new_footer .footerlinks {
  width: 100%;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  display: inline-block;
  margin: 15px 40px;
  padding: 25px 0 20px;
  font-variant: small-caps;
  font-size: 18px
}

#new_footer .footerlinks ul {
  float: left;
  text-align: left;
  padding: 0px 150px 40px 0;
  list-style-type: none;
  margin-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
}

#new_footer .footerlinks ul li {
	margin-top: 0px;
	margin-bottom: 20px;
}

#footerimg {
	margin-top: 0px;
	display: block;
	width: 400px;
	height: 250px;
	margin-left: auto;
	right: 150px;
	position: absolute;
}

.social-logo {
	width: 36px;
	height: 36px;
}

#socialwrapper {
	margin-bottom: 65px;
}

/*---INDEX---*/

#index-container {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	padding: 0;
	height: 2500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

#banner {
	text-align: center;
	position: relative;
	width:1000px;
	height:600px;
	padding: 0px 40px 20px 40px;
	margin-top: 0px;
	margin-bottom: 100px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	top: 280px;
}

#banner .image-slider-wrapper{
	overflow: hidden;
}
#image_slider {
	position: relative;
	overflow: hidden;
	height: 600px;
	width: 1000px;
	padding:0;
	top: 0px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}
#image_slider li{
	position:relative;
	max-width: 100%;
	float: left;
	list-style: none;
	opacity: 1;
}

#banner .image-slider-wrapper:hover {
    position: relative;
    opacity: 0.9;
}

#image_slider img {
	width: 1000px;
	height: 600px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 1;
}

#cafe-banner {
	width: 100% !important;
	display: inline-block;
  	position: relative;
  	margin: 0 auto;
	top: 235px;
	text-align: center;
}

#cafe-banner .cafe-banner-bg {
	margin-top: 60px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../Images/tablecup.jpg) no-repeat center center;
	background-size: cover;
	height: 660px;
}

#cafe-banner .cafe-banner-container {
	top: 20%;
	display: inline-block;
	position: relative;
	outline: transparent;
	margin: 0 auto;
	height: 660px !important;
}

#cafe-banner .cafe-banner-container a {
	display: inline-block;
	text-decoration: none;
}

#cafe-desc {
	left: 0px;
	top: 250px;
	position: absolute;
	font-size: 18px;
	color: black;
	width: 250px;
}

#cafe-banner .cafe-banner-container a:hover {
	color: #471E1E;
	-webkit-transition: color 0.2s;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.6s;
	-webkit-transition-timing-function: initial;
	-webkit-transition-delay: initial;
	-moz-transition: color 0.2s;
	-moz-transition-property: color;
	-moz-transition-duration: 0.6s;
	-moz-transition-timing-function: initial;
	-moz-transition-delay: initial;
	transition: color 0.2s;
	transition-property: color;
	transition-duration: 0.6s;
	transition-timing-function: initial;
	transition-delay: initial;	
}

#divider {
  display: block;
  width: 1000px;
  text-align: center;
  margin: 9px auto 22px;
  text-align: center;
  position: relative;
  clear: both;
  top: 50px;
}

.divider-border {
  background: #ccc;
  height: 1px;
  margin: 9px 0 0 0;
  width: 100%;
  position: absolute;
  top: 4px;
  z-index: 1;
}

#divider-span {
  color: #000;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 18px;
  padding: 5px 15px;
  z-index: 10;
  background-color: #FFFFFF;
  position: relative;
  text-transform: uppercase;
}

#divider-top {
  display: block;
  width: 1000px;
  text-align: center;
  margin: 9px auto 22px;
  text-align: center;
  position: relative;
  clear: both;
  top: 8px;
}

#divider-bottom {
  display: block;
  width: 1000px;
  text-align: center;
  margin: 9px auto 22px;
  text-align: center;
  position: relative;
  clear: both;
  top: 240px;
}

#events-banner {
	width: 100% !important;
	display: inline-block;
  	position: relative;
  	margin: 0;
	bottom: 0;
	top: 220px;
	text-align: center;
}

#events-banner .events-banner-bg {
	margin-top: 40px;
	width: 100%;
	position: absolute;
	background: url(../Images/events.jpg) no-repeat center center;
	background-size: 100% 100%;
	height: 750px;
}

#events-banner-desc {
	text-transform: uppercase;
	width: 100%;
	display: inline-block;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 250px;
}

#events-banner-desc:hover {
	color: #8B0002;
	-webkit-transition: color 0.2s;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.6s;
	-webkit-transition-timing-function: initial;
	-webkit-transition-delay: initial;
	-moz-transition: color 0.2s;
	-moz-transition-property: color;
	-moz-transition-duration: 0.6s;
	-moz-transition-timing-function: initial;
	-moz-transition-delay: initial;
	transition: color 0.2s;
	transition-property: color;
	transition-duration: 0.6s;
	transition-timing-function: initial;
	transition-delay: initial;	
}

#events-banner-logo {
	top: 100px;
	display: inline-block;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	height: 300px;
	width: 100%;
	left: 0px;
	box-shadow: 0px 1px 15px #666;
}

#events-banner-logo:hover {
	opacity: 0.9;
}

/*----CAFE----*/
#cafe-container {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	padding: 0;
	height: 1400px;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-image:url(../Images/cafe-background.jpg);
}

#cafe-hero {
	text-align: left;
	position: relative;
	width:1000px;
	height:600px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	top: 280px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-image:url(../Images/cafe-banner.jpg);
	box-shadow: 1px 1px 25px 5px #000000;
}

#cafe-hero .cafe-hero-desc {
	top: 100px;
	position: relative;
	margin-left: 0px;
	background-color: #FFFFFF;
	opacity: 0.5;
	width: 500px;
	text-transform:uppercase;
	text-shadow: #000000;
}

#cafe-hero .cafe-hero-desc-1 {
	position: relative;
	margin-left: 0px;
	background-color: #FFFFFF;
	opacity: 0.5;
	width: 500px;
	text-transform:uppercase;
	text-shadow: #000000;
}

#cafe-hero .cafe-hero-desc h1 {
	margin-left: 20px;
}

#cafe-boxes {
	margin-top: 40px;
	position: relative;
	width:1000px;
	height:400px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	top: 280px;
}

#cafe-box1 {
	padding: 10px;
	display: block;
	float: left;
	position: relative;
	width: 400px;
	height: 300px;
	margin: 0;
	background-size: cover;
	opacity: 0.5;
	background-color: #FFFFFF;
	box-shadow: 1px 1px 25px 5px #000000;
}

#cafe-box2 {
	padding: 10px 10px 10px 10px;
	display: block;
	float: right;
	position: relative;
	width: 400px;
	height: 300px;
	margin: 0;
	background-size: cover;
	opacity: 0.5;
	background-color: #FFFFFF;
	box-shadow: 1px 1px 25px 5px #000000;
}

/*----CATALOGUE----*/

#catalogue-container {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 1700px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image:url(../Images/dress.jpg);
}

#left-wrapper {
	position: relative;
	top: 280px;
	display: block;
	float: left;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 220px;
	height: 550px;
	margin-left: 40px;
	box-shadow: 0px 0px 10px 0px #000000;
	background-color: #FFF;
	opacity: 1;
}

.just-border {
	border: thin dashed #000000;
}

#left-wrapper a:hover {
	color: #B81215;
	-webkit-transition: color 0.1s;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: initial;
	-webkit-transition-delay: initial;
	-moz-transition: color 0.1s;
	-moz-transition-property: color;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: initial;
	-moz-transition-delay: initial;
	transition: color 0.1s;
	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: initial;
	transition-delay: initial;	
}

#right-wrapper {
	position: relative;
	top: 280px;
	display: block;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-left: 400px;
	margin-right: auto;
	width: 1000px;
	height: 1250px;
	box-shadow: 0px 0px 10px 0px #000000;
	background-color: #FFF;
}

#desc-1 {
	top: 20px;
	position: relative;
	margin-left: 40px;
	width: 1000px;
	margin-bottom: 100px;
}

#desc-2 {
	position: relative;
	margin-left: 40px;
	width: 1000px;
	margin-bottom: 100px;
}

#desc-3 {
	position: relative;
	margin-left: 40px;
	width: 1000px;
	margin-bottom: 100px;
}

#right-wrapper img {
	margin-right: 40px;
	width: 240px;
	height: 240px;
	position: relative;
}

#right-wrapper img:hover {
	outline: 2px solid black;
	transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
	box-shadow: 0px 0px 10px 0px #000000;
}

#right-wrapper a {
	text-align: right;
	right: 10;
	position: relative;
	display: inline-block;
	bottom: 0;
	text-transform: uppercase;
	font-family: 'Cheri', sans-serif;
	text-color: #808080;
	font-weight: bold;
}

#right-wrapper a:hover {
	color: #8B0002;
	-webkit-transition: color 0.2s;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.6s;
	-webkit-transition-timing-function: initial;
	-webkit-transition-delay: initial;
	-moz-transition: color 0.2s;
	-moz-transition-property: color;
	-moz-transition-duration: 0.6s;
	-moz-transition-timing-function: initial;
	-moz-transition-delay: initial;
	transition: color 0.2s;
	transition-property: color;
	transition-duration: 0.6s;
	transition-timing-function: initial;
	transition-delay: initial;	
}

#product-containers {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 1800px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image:url(../Images/dress.jpg);
}

/*---BEACHWEAR---*/

#bgwrapper1 {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 600px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(../Images/bgkids1.jpg);
	box-shadow: 0px 0px 20px 1px #000000;
}

#right-wrapper1 {
	position: relative;
	top: 280px;
	display: block;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-left: 400px;
	margin-right: auto;
	width: 1000px;
	height: 1400px;
	box-shadow: 0px 0px 10px 0px #000000;
	background-color: #FFF;
}

#right-wrapper1 img {
	margin-right: 80px;
	width: 240px;
	height: 240px;
	position: relative;
}

#right-wrapper1 img:hover {
	outline: 2px solid black;
	transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
	box-shadow: 0px 0px 10px 0px #000000;
}

/*---CASUAL ATTIRE---*/
#bgwrapper2 {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 600px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(../Images/bgkids2.jpg);
	box-shadow: 0px 0px 20px 1px #000000;
}

/*---AUTUMN FASHION---*/
#bgwrapper3 {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 600px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(../Images/bgkids3.jpg);
	box-shadow: 0px 0px 20px 1px #000000;
}

/*---SHOPPING SECTION---*/
#cart-content {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	width: 100%;
	height: 900px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 300px;
	position: relative;
}

#shopping-cart-actions {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#shopping-cart-actions li {
	display: inline-block;
	margin-right: 1em;
}

#shopping-cart {
	margin: 1.5em 0;
}

.shopping-cart {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

.shopping-cart th {
	font-size: 1.3em;
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
	text-transform: uppercase;
}

.shopping-cart td {
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
}

.shopping-cart tr:nth-child(even) {
	background: #fafafa;
},

.shopping-cart td.pdelete {
	text-align: center;
	display: inline-block;
}

#sub-total, #shipping {
	margin: 1.5em 0;
	text-align: right;
}

#sub-total span,
#shipping span {
	margin-left: 1em;
}

.btn, a.btn {
	display: inline-block;
	background: #ffffff;
	color: #000;
	font: 1em 'PT Serif', serif;
	padding: 0.3em 1em;
	text-align: center;
	border-radius: 4px;
	border: 1px solid;
	cursor: pointer;
}

a.btn:hover {
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	transition: 0.7s;
	background: #8796AC;
}

.btn:hover {
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	transition: 0.7s;
	background: #8796AC;
}